body {
  margin: 0px;
  box-sizing: border-box;
}

header {
  width: 32%;
  margin-left: auto;
  margin-top: 35px;
  margin-bottom: 60px;
  height: 15px;
}

header nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

header nav ul li {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
}

header nav ul li a {
  text-decoration: none;
  color: dimgray;
  font-weight: bold;
}

#intro {
  height: 450px;
}

.text,
.photo {
  float: left;
  width: 40%;
  height: 450px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 1px;
}

.photo img {
  width: 80%;
}

.text {
  padding-left: 130px;
  padding-right: 0px;
}

.tag-intro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0px;
  color: dimgray;
}

.tomato-marker {
  color: tomato;
}

.text p {
  text-align: justify;
  width: 50%;
  color: dimgray;
  margin-bottom: 40px;
}

.link-button {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-image: linear-gradient(210deg, tomato, lightsalmon);
  padding: 15px 30px;
  border-radius: 5px;
}

#about {
  height: 450px;
  padding-left: 150px;
}

#tag-about {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0px;
  margin-top: 90px;
  color: dimgray;
}

#about p {
  width: 70%;
}

.button {
  margin-right: 10px;
}

#project {
  height: 650px;
  background-color: whitesmoke;
  padding-top: 100px;
  width: 100%;
}

#tag-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  width: 41.5%;
  margin: auto;
  margin-bottom: 100px;
  color: dimgray;
}

.tomato-highlighter {
  color: tomato;
}

.gallery {
  width: 90%;
  margin: auto;
  height: 50%;
  margin-left: 6%;
}

.deck {
  width: 27%;
  float: left;
  background-color: white;
  box-shadow: 1px 1px 10px lightgray;
  padding: 15px;
  border-radius: 15px;
  color: dimgray;
  margin-left: 2%;
  height: 100%;
}

.card {
  width: 100%;
  margin: auto;
}

#social {
  width: 60%;
  margin: auto;
  margin-top: 90px;
  position: relative;
  margin-bottom: 70px;
}

#social img {
  width: 100%;
}

.chit-chat {
  position: absolute;
  float: left;
  top: 40%;
  right: 10%;
}

.caption {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  float: left;
  top: 25%;
  left: 8%;
  color: ivory;
  font-size: 40px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  height: 190px;
}

#tag-connected {
  width: 15%;
  margin: auto;
  color: dimgray;
}

#tag-mail {
  width: 18.5%;
  margin: auto;
  margin-top: 1%;
  color: dimgray;
}

#social-logo {
  width: 15%;
  margin: auto;
  margin-top: 20px;
}

#social-logo img {
  margin-left: 7%;
}

#facebook {
  margin-bottom: 4px;
}

#instagram {
  margin-bottom: 6px;
}
